.container-luar {
    background-color: yellow;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 500px;
    padding: 20px;
}

.container-dalam {
    background-color: blue;
    display: flex;
    flex-grow: 1;
    border: 2px solid black;
    margin: 20px;
}

.box {
    background-color: antiquewhite;
    flex-basis: 20%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

.double {
    flex-basis: 40%;

}